
.probe
/assets
/crash-reports
/journeymap
/downloads
/libraries
/mods
/saves
/versions
/waypoints
/tlm_custom_pack
/logs
launcher_profiles.json
PCL.ini
/resourcepacks
usernamecache.json
usercache.json
/data
command_history.txt
/config
emi.json
/local
/screenshots
*.log
